<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>

    <style>
        #form-id{
            color: aquamarine
        }

        .form-class{
            color: red;

        }

        .para-lorem::first-line{
            color: orange
        }

        li:hover{
            cursor: pointer;
        }

        h1::first-letter,h2::first-letter{
            color: brown
        }

        input::placeholder{
            color: red;
        }



    </style>
    <link rel="stylesheet" href="./index.css"/>
</head>
<body>
    <form id="form-id" class="form-class" style="color: blue">
        Name:
        <input type="text" name="UserName" placeholder="ENter your name"/> <br />
        EMail:
        <input type="email" name="email"/> <br />
        password
        <input type="password" name="password" /> <br />
        Phone number
        <input type="number" name="Phone" /> <br />
        Is online?
        <input type="checkbox" name="Online" />
        <br />
        Gender <br />
        Male<input type="radio" name="gender" />
        Female<input type="radio" name="gender" />
        <br />
        Resume
        <input type="file" name="file"  accept="image/jpeg,image/png"/>
        <br />
        <input type="reset" name="reset" />
        
        <input type="submit" name="submit" />
    </form>

    <p class="para-lorem">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>



    <table >
        <thead> LIST and table</thead>
        <tbody>
            <tr><h1>ordered list</h1>
                <ol>
                    <li>Akash</li>
                    <li>Singh</li>
                    <li>Kushwaha</li>
                  
                </ol>
                <h1>unordered list</h1>
                <ul>
                    <li>Akash</li>
                    <li>Singh</li>
                    <li>Kushwaha</li>
                   
                </ul>
               
                <h1>description list</h1>
                <dl>
                    <dt>Akash</dt>
                    <dd>Singh</dd>
                    <dd>Kushwaha</dd>
                   
                    <dt>One</dt>
                    <dd>two </dd>
                    <dd>three</dd>
                  
             <h2>unorder list with square</h2>
                <ul style="list-style-type: square;">
                    <li>Akash</li>
                    <li>Singh</li>
                    <li>Kushwaha</li>
                    
            
              <h2> nested list</h2>
             <ol>
                            <li>Heading of main1
                                <ul>
                                    <li>Akash</li>
                                    <li>Singh</li>
                                    <li>Kushwaha</li>
                                </ul>
                            </li>
                            <li>Heading of main2
                                <ol>
                                    <li>Akash</li>
                                    <li>Singh</li>
                                    <li>Kushwaha</li>
                                </ol>
                            </li>
                        </ol>
             <h2>ol with other symbol</h2>
                <ol type="A">
                    <li>Akash</li>
                    <li>Singh</li>
                    <li>Kushwaha</li>
                    <li>Akash</li>
                    <li>Singh</li>
                    <li>Kushwaha</li>
                </ol></tr>
        </tbody>
    </table>
</body>
</html>